name: Frontend Deploy

on:
  push:
    paths:
      - "frontend/**"       # Trigger ONLY when frontend folder changes
    branches:
      - master

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Sync frontend folder to S3
      - name: Sync to S3
        run: |
          aws s3 sync frontend/ s3://${{ secrets.AWS_S3_BUCKET }}/ --delete

      # Invalidate CloudFront
      # - name: Invalidate CloudFront Cache
      #   run: |
      #     aws cloudfront create-invalidation \
      #       --distribution-id ${{ secrets.AWS_CF_DISTRIBUTION_ID }} \
      #       --paths "/*"
